@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf') format('truetype');
}
@media all and (max-width: 1034px){
    #rechercher{
        display: none;
    }
    .fa-search {
        display: inline-block !important;
        color: white;
        background-color: #0065FC;
        padding: 20px;
        border-radius: 20%;
        border: 1px solid #DEEBFF;
        position: relative;
        left: -10px;
    }
}
@media all and (max-width:341px)
{

}
@media all and (max-width: 414px)
{
    body{
        margin: 0px;
    }
    #bloc_page
    {
        width:auto;
        margin:auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .top:nth-child(1){
        order: 1;
        width: 50%;
        margin-left: 20px;
    }
    .top:nth-child(2){
        order:3;
        width: 100%;
        margin-right: 0px;
    }
    .top:nth-child(3){
        order:2;
       margin-right: 20px;
    }
    .flex{
        flex-direction: column;
    }
    #hebergements{
        flex-direction: column;
        order: 2;
    }
    .activites{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    #recherche{
        margin: 0px 20px;
    }
    #recherche h2{
        width: 100%;
    }
    #filtres{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;
    }
    .form_filtre{
        display: flex;
        flex-direction: column;
    }
    .top_nav{
        width: 50%;
        margin: 0px !important;;
        border-bottom: 3px solid #DEEBFF;
    }
    #rechercher{
        display: none;
    }
    #barre_recherche input:nth-child(1){
        width: 70%;
    }
    .fa-search{display: inline-block !important;
    color: white;
    background-color: #0065FC;
    padding: 20px;
    border-radius: 20%;
    border:1px solid #DEEBFF;
    position:  relative ;
    left:-10px
    }
    .fa-search:hover{
        transition-duration: 0.7s;
        background-color: white;
        color: #0065FC;
    }
    .select{
        margin-left: 0px !important;
    }
    #populaire{
        margin-left:0px !important;
        border-radius: 0px !important;
        padding: 45px 20px !important;
    }
    .lst_popu:nth-child(3){
        margin-bottom: 0px !important;
    }
    .lst_popu{
        margin-bottom: 10px !important;
    }
    #hebergements {
        padding: 45px 20px !important;
        background-color: white !important;
    }
    .lst_hebergement{
        max-width: 100% !important;
        width: auto !important;
        margin-bottom: 12px;
    }
    aside a{
        width: auto !important;
    }
    #hebergements h2{
        margin-bottom: 25px;
    }
    .more{
        margin-top: 23px !important;
    }
    #act_mobile{
        padding: 0px 20px;
    }
    .port_cal img {
        height: 134px!important;
    }
    .a1 img, .a2 img {
        height: 134px !important;
    }
    .port_cal, .pom_frioul {
        width: auto !important;
    }
    .activite {
        width: auto !important;
        margin-bottom: 25px !important;
    }
    header a:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        transition-duration: 0.3s;
        border-top: none !important;
    }
}
@media (min-width: 415px) and (max-width: 1112px)
{
    header a:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        transition-duration: 0.3s;
        border-top: none !important;
    }
    body{
        margin: 0px;
    }
    #bloc_page
    {
        width:auto;
        margin:auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .top:nth-child(1){
        order: 1;
        width: 50%;
        margin-left: 20px;
    }
    .top:nth-child(2){
        order:3;
        width: 100%;
        margin-right: 0px;
    }
    .top:nth-child(3){
        order:2;
       margin-right: 20px;
    }
    .flex{
        flex-direction: column;
    }
    #hebergements{
        order: 2;
    }
    #recherche{
        margin: 0px 20px;
    }
    #recherche h2{
        width: 100%;
    }
    #filtres{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;
    }
    .form_filtre{
        display: flex;
        flex-direction: column;
    }
    .top_nav{
        width: 50%;
        margin: 0px !important;;
        border-bottom: 3px solid #DEEBFF;
    }
    #barre_recherche input:nth-child(1){
        width: 88%;
    }
    #barre_recherche{
        width: 100%;
    }
    .fa-search{display: inline-block;
    color: white;
    background-color: #0065FC;
    padding: 20px;
    border-radius: 20%;
    border:1px solid #DEEBFF;
    position:  relative ;
    left:-10px
    }
    .fa-search:hover{
        transition-duration: 0.7s;
        background-color: white;
        color: #0065FC;
    }
    .select{
        margin-left: 0px !important;
    }
    .img_popu{
        width: 50% !important;
        max-width: 100% !important;
    }
    #populaire{
        margin-left:0px !important;
        border-radius: 0px !important;
        padding: 45px 20px !important;
        display: flex;
        max-width: 100% !important;
        flex-direction: column;
    }
    .lst_popu:nth-child(3){
        margin-bottom: 0px !important;
    }
    .lst_popu{
        margin-bottom: 10px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .blabla_popu{
        text-align: center;
        flex: 2;
    }
    #hebergements {
        padding: 45px 20px !important;
        background-color: white !important;
    }
    .lst_hebergement{
        max-width: 45% !important;
        width: auto !important;
        margin-bottom: 12px;
    }
    aside a{
        width: auto !important;
        height: auto !important;
    }
    .img_popu img{
        height: 15em !important;
    }
    #hebergements h2{
        margin-bottom: 25px;
    }
    .more{
        margin-top: 23px !important;
    }
    #act_mobile{
        padding: 0px 20px;
    }
    .port_cal img {
        height: 134px!important;
    }
    .a1 img, .a2 img {
        height: 134px !important;
    }
    .port_cal, .pom_frioul {
        width: 45% !important;
    }
    .activite {
        width: auto !important;
        margin-bottom: 25px !important;
    }
    .activites{
        flex-wrap: wrap;
    }
    .pom_frioul{
        order: 1;
    }
}
body{
    background-color: white;
}
#blocpage {
    font-family: 'Raleway';
    margin:auto;
    max-width: 1440px;
}
.fa-search{
    display: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top:nth-child(1){
flex: 3;
}    
nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.top_nav{
    margin-right: 77px;
}
.top{
    margin-right: 77px;
}
.no_marge{
    margin-right: 0px;
}
.log_in a {
    color: #0065FC;
}
a{
    color: black;
    text-decoration: none;
}
header a:hover{
    color:#0065FC ;
    border-top: 3px solid #0065FC;
    transition-duration: 0.3s;
}
header a {
    padding-bottom: 53px;
    padding-top: 53px;
    border-top: 3px solid white;
}
#recherche form{
    display: flex;
    align-items: center;
}
#location{
    background-color: #F2F2F2;
    padding:20px;
    border-radius: 20% 0px 0px 20%;
}
#barre_recherche input{
    padding:20px;
}
#barre_recherche input:nth-child(1){
    border:1px solid #F2F2F2 ;
    border-right: none;
    font-weight: bold;
}
#barre_recherche input:nth-child(2){
    background-color:#0065FC ;
    border: none;
    border-radius: 0% 20% 20% 0%;
    color: white;
    position:  relative ;
    left:-13px
}
#barre_recherche input:nth-child(2):hover{
    cursor: pointer;
    background-color: white;
    color:#0065FC;
    transition-duration: 0.5s;
}
#filtres{
    display: flex;
    justify-content: space-between;
}
.select{
    margin-left: 30px;
    font-weight: bold;
     border: 2px solid #f2f2f2;
     padding: 20px 20px 20px 0px;
     border-radius: 100px;
}
.select:hover{
    background-color: #0065FC;
    color: #DEEBFF;
    transition-duration: 1s;
    cursor: pointer;
}
.select:hover span{
    background-color: white;
    color: #0065FC;
    transition-duration: 1s;
    cursor: pointer;
}
.select:active{
    background-color: #0065FC;
    color: #DEEBFF;
    transition-duration: 1s;
    cursor: pointer;
}
.select:active span{
    background-color: white;
    color: #0065FC;
    transition-duration: 1s;
    cursor: pointer;
}
.select:hover label{
    cursor: pointer;
}
.select input{
    display:none;
    padding: 20px;
}
.select span{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 20px;
    border-radius: 50%;
}
h2{
    font-weight: bold;
}
#info{
    display: flex;
    align-items: center;
}
#nb_logements{
    margin-left: 15px;
}
#info span{
    border: 1px solid #f2f2f2;
    color: #0065FC;
    padding: 5px 9px;
    border-radius: 50%;
}


#hebergements{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 2;
    padding: 50px 45px 0px;
    border-radius: 25px;
}
#populaire{
    flex: 1;
    margin-left: 40px;
    padding: 50px ;
    background-color: #F2F2F2 ;
    max-width: 420px;
    border-radius: 25px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.img_hebergement img{
    max-height: 115px;
    width: 100%;
    height: 100%;
    display: block;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}
.lst_hebergement{
    max-height: 200px;
    max-width: 250px;
    width: 250px;
    height: 200px;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #e4e4e4;
    margin: 15px 0px;
}
.lst_hebergement:hover{
    box-shadow: 5px 5px 5px;
    transition-duration: 0.5s;
}
.more a:hover{
    color: #0065FC;
    transition-duration: 0.7s;
}
.h_3{
    font-weight: bold;
    width: 100%;
}

.lst_hebergement a{
    background-color: #DEEBFF;
}
.img_popu img{
    width: 100%;
    height: 100%;
    display: block;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}
.img_popu{
    max-width: 128px;
}
.lst_hebergement p{
    margin: 0px 0px 5px 0px;
}
.lst_popu{
    width: 100%;
    height: 100%;
    display: flex;
    max-height: 143px;
    max-width: 345px;
}
.titre_section{
    width:100%;
    font-weight: bold;
    margin: 0px;
}
.more{
    width: 100%;
    font-weight: bold;
    margin: 0px;
    align-items: center;
    height: auto;
}
.star_rate{
    font-size: 12px;
    color: #0065FC;
}
.empty{
    color: #DEEBFF;
}
#popu{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

#popu span{
    font-weight: bold;
    font-size: 1.5em;
}
.flex{
    margin-top: 26px;
}
aside a{
    width: 100%;
    height: 143px;
    background-color: white;
    margin-bottom: 32px;
    padding: 5px;
    border-radius: 25px;
}
.blabla_popu{
    display: flex;
    flex-direction: column;
    padding-left: 20PX;
}
.blabla_popu p{
    margin: 5px 0px;
}
.blabla_popu .star_rate{
margin-top:15px;
}
section H3{
    margin-top: 10PX;
    margin-bottom: 14PX;
}
aside a:hover{
    box-shadow: 5px 5px 5px;
    transition-duration: 0.5s;
}
.activites{
    display: flex;
    justify-content: space-between;
}
.activite{
    width: 300px;
}
.activite img{
    width: 100%;
    object-fit: cover;
    height: 155px;
}
.a1 img, .a2 img{
    width: 100%;
    object-fit: cover;
    height: 390px;
}
.port_cal, .pom_frioul{
    width: 300px;
}
.port_cal img{
    height: 390px;
    object-fit: cover;
    width: 100%;
}
.pom_frioul{
    display: flex;
    flex-direction: column;
}
.activites h2{
    width: 100%;
}
.blabla_heberg{
    padding-left: 15px;
}
.activite{
    box-shadow: 5px 5px 5px #e4e4e4;
    border-radius: 25px;
    padding-bottom: 20px;
}
.activite h3{
    margin: 23px 0px 0px  20px;
}
.activite img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.pom_frioul a:nth-child(2){
    margin-top: 10px;
}
.activite:hover{
    box-shadow: 5px 5px 5px;
}
footer{
    background-color: #e4e4e4;
    padding-top: 50px ;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.foot ul{
    list-style: none;
}
.foot li {
    margin-top: 20px;
}
.top_foot{
    margin-top: 0px;
}
.foot li:hover a{
    color:#0065FC;
    transition-duration: 0.7s;
}
@media screen {
    
}